.ag-theme-quartz .ag-root-wrapper {
  border-left: none !important;
  border-right: none !important;
}
.ag-theme-quartz .ag-header {
  background-color: #f4f2ff;
}
.ag-theme-quartz .ag-header-cell-label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #6e6893;
}
.ag-theme-quartz .ag-cell {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight:500;
  color: #6e6893;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

